
h1,h2,h3,p{
    font-family: 'Quicksand', sans-serif;
}

h1{

    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 30px;
}
    
img{
    width: 200px;
    float: left;
    margin-right: 40px;
    padding-left: 8%;
}


header{
    font-family: 'Quicksand', sans-serif;
    background-color: #C2948A;
    font-weight: bold;
    padding: 30px 0px 90px;
}

section{
    padding: 30px 8%;
}

footer{
    padding: 15px 0px;
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
    background-color: #7EA8BE;
}


body{
    background-color: #EFE8E6;
}

